a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 43rem;
    width: 28rem;
    border: none;
    border-radius: 1.5rem;
    background-color: var(--gray-two);
    font-family: var(--font);
    text-decoration: none;
    color: var(--dark-one);
}
a:hover {
    box-shadow: var(--yellow-one)  0px 2px 4px;
}
picture {
    width: 100%;
    height: 20rem;
}
img {
    width: 100%;
    height: 100%;
    border-radius: 1.5rem 1.5rem 0 0;
    object-fit: cover;
}
p {
    padding-bottom: 1.5rem;
    text-align: center;
    font-size: 1.4rem;
}
.pp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
}
.bb {
    margin-bottom: 2rem;
    padding: 1rem 2.5rem;
    border: 0.2rem solid transparent;
    border-radius: 1rem;
    background-color: var(--dark-one);
    font-family: var(--font);
    font-weight: 600;
    color: var(--yellow-one);
    cursor: pointer;
}
.bb:hover {
    border-color: var(--dark-one);
    background-color: var(--gray-two);
    color: var(--dark-one);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}